@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  background: #2a2929;
}
.scrollbar-dark::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #2c2c2c; /* Dark thumb color */
    border-radius: 9999px; /* Optional: round the scrollbar thumb */
  }
  
  .scrollbar-dark::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Dark track color */
    border-radius: 9999px; /* Optional: round the track */
  }